.p{
    
}
.s{
    font: var(--font-default-weight) var(--font-s) / var(--font-lh-s) var(--font-family);
}
.m{
    font: var(--font-default-weight) var(--font-m) / var(--font-lh-m) var(--font-family);
}
.l{
    font: var(--font-default-weight) var(--font-l) / var(--font-lh-l) var(--font-family);
}
.xl{
    font: var(--font-default-weight) var(--font-xl) / var(--font-lh-xl) var(--font-family);
}