---
import '../styles/global.scss'
import type { PropsHeadLayout } from './general.astro';
const { title, description } = Astro.props as PropsHeadLayout;
---
<head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="description" content={description}>
</head>